<div class="row">

	<div class="col-md-offset-0 col-md-5 col-md-offset-0" >
		<h1><a href="{{.Permalink}}">
			{{ or .Title .Source.BaseFileName }}
		</a></h1>
	</div>


	<div class="col-md-2" >
		<span class="small title-row-line-height" 
		>
		{{ .Date.Format "2. " }} &nbsp;{{ .Date.Format "Jan 2006" }}

		</span>
	</div>


	<div class="col-md-5" >
		<span class="small title-row-line-height" 
			>{{ partial "tags-and-categories" . }}
		</span> 
	</div>

	<div class="small col-md-10 squeeze-or-pad-from-headline" style='font-size: 90%; '>
		{{ or .Description  .Summary .Content }}
	</div>

</div>



