<h1 id="one-iceberg-lurking:94d9451217fc041b8b6601e94b6d9a51">One iceberg lurking</h1>

<p>However, there is one more fundamental flaw in all virtual currencies.
It is hidden in bright daylight.
Wikipedia notes it, but neither computer scientists nor economists realize its dimension.</p>

<p>If you are a Bitcoin trader or investor, you might want to learn about this shadow factor here:</p>

<p><a href="http://localhost:1313/member/tec-news/crypto-experts-neglect-one-vital-aspect">Understand Bitcoins&rsquo; biggest weakness</a></p>

<p><a rel='promote' href='http://localhost:1313/member/tec-news/crypto-experts-neglect-one-vital-aspect' style="display:none">&nbsp;</a></p>


